 Cross-Origin Resource Sharing (CORS)

CORS is a technique used in web development to allow web pages from different domains to access resources on the server. By default, web browsers block requests to resources on a different domain for security reasons. CORS allows web developers to specify which domains are allowed to access the resources on the server. This is important when making requests to APIs from a web page hosted on a different domain, for example. The CORS library provides an easy way to configure CORS for Flask applications.

Here's an example of how CORS works:

Let's say you have a web application that is hosted on https://example.com. This application makes an HTTP request to an API that is hosted on https://api.example.org. Normally, this request would be blocked by the web browser, because the domains of the web application and the API are different.

To allow the request to go through, the API must send the following response header:
Access-Control-Allow-Origin: https://example.com
This header indicates that the API allows requests from the https://example.com domain. When the web browser sees this header, it allows the request to go through and returns the response to the web application.

If the API allowed requests from any domain, it could send the following response header:
Access-Control-Allow-Origin: *
This header indicates that the API allows requests from any domain. However, this can be a security risk, as it allows any website to make requests to the API. In general, it's better to restrict access to specific domains, rather than allowing all domains.

dashboard.bind(app) is a method call that binds the dashboard to the Flask application instance.

In web development, a dashboard is a web page or a set of web pages that provides visual representations of data and allows users to interact with the data. Dashboards are commonly used in business intelligence, data analytics, and other data-related applications.

The dashboard object represents the dashboard created using a library like Plotly Dash or Flask-Dash. The bind() method is used to integrate the dashboard into the Flask application. This method call associates the dashboard with the Flask application instance, so that the dashboard is accessible through the application's URL routes and can be served by the Flask web server.

For example, if the dashboard object represents a dashboard that displays sales data, calling dashboard.bind(app) would make the dashboard accessible through a URL like http://localhost:5000/sales-dashboard, where http://localhost:5000 is the address of the Flask web server and /sales-dashboard is the URL route associated with the dashboard.

You can use either CORS(app) or @cross_origin() to enable Cross-Origin Resource Sharing (CORS) in your Flask application.

The difference between the two is that CORS(app) applies CORS rules to all routes of your Flask application by default, while @cross_origin() applies CORS rules only to the decorated route or endpoint.

Using @cross_origin() allows you to apply different CORS rules to different routes or endpoints in your Flask application. For example, you might want to allow requests from a specific origin for one route, while allowing requests from a different origin for another route.

On the other hand, using CORS(app) enables CORS for all routes in your Flask application by default. This can be useful if you want to allow requests from any origin for all routes.

In summary, CORS(app) is a convenient way to enable CORS for all routes in your Flask application, while @cross_origin() is a more flexible way to enable CORS for specific routes or endpoints with custom rules. The choice between the two depends on your specific requirements for CORS in your Flask application.

In [1]:
from flask import request

In [3]:
request.json[r'C:\Users\user\Desktop\real_ml_projects\Wafar_fault_detection\waferFaultDetection\code\WaferFaultDetection_new\Training_Batch_Files']

RuntimeError: Working outside of request context.

This typically means that you attempted to use functionality that needed
an active HTTP request.  Consult the documentation on testing for
information about how to avoid this problem.

In [5]:
import requests

file_path = "/path/to/your/file.txt"
payload = {"file_path": file_path}
response = requests.post('localhost:5000', json=payload)

InvalidSchema: No connection adapters were found for 'localhost:5000'

In [ ]:
from flask import Flask, request

app = Flask(__name__)

@app.route('/process_file', methods=['POST'])
def process_file():
    file_path = request.json['file_path']
    # Process the file at file_path
    return 'File processed successfully'

if __name__ == '__main__':
    app.run()

In [6]:
from datetime import datetime

In [7]:
datetime.now()

datetime.datetime(2023, 3, 11, 0, 38, 32, 817853)

In [8]:
now = datetime.now()

In [9]:
now.date()

datetime.date(2023, 3, 11)

In [14]:
str(now.date())

'2023-03-11'

In [10]:
now.time()

datetime.time(0, 39, 14, 357977)

In [13]:
now.strftime("%H:%M:%S")

'00:39:14'

In [15]:
str(now.strftime("%H:%M:%S"))

'00:39:14'

In [22]:
import json

In [20]:
path = r"C:\Users\user\Desktop\real_ml_projects\Wafar_fault_detection\waferFaultDetection\code\WaferFaultDetection_new\schema_training.json"

In [23]:
with open(path) as f:
    data=json.load(f)

In [24]:
print(data)

{'SampleFileName': 'wafer_08012020_120000.csv', 'LengthOfDateStampInFile': 8, 'LengthOfTimeStampInFile': 6, 'NumberofColumns': 592, 'ColName': {'Wafer': 'varchar', 'Sensor - 1': ' float', 'Sensor - 2': ' float', 'Sensor - 3': ' float', 'Sensor - 4': ' float', 'Sensor - 5': ' float', 'Sensor - 6': ' float', 'Sensor - 7': ' float', 'Sensor - 8': ' float', 'Sensor - 9': ' float', 'Sensor - 10': ' float', 'Sensor - 11': ' float', 'Sensor - 12': ' float', 'Sensor - 13': ' float', 'Sensor - 14': ' float', 'Sensor - 15': ' float', 'Sensor - 16': ' float', 'Sensor - 17': ' float', 'Sensor - 18': ' float', 'Sensor - 19': ' float', 'Sensor - 20': ' float', 'Sensor - 21': ' float', 'Sensor - 22': ' float', 'Sensor - 23': ' float', 'Sensor - 24': ' float', 'Sensor - 25': ' float', 'Sensor - 26': ' float', 'Sensor - 27': ' float', 'Sensor - 28': ' float', 'Sensor - 29': ' float', 'Sensor - 30': ' float', 'Sensor - 31': ' float', 'Sensor - 32': ' float', 'Sensor - 33': ' float', 'Sensor - 34': ' float', 'Sensor - 35': ' float', 'Sensor - 36': ' float', 'Sensor - 37': ' float', 'Sensor - 38': ' float', 'Sensor - 39': ' float', 'Sensor - 40': ' float', 'Sensor - 41': ' float', 'Sensor - 42': ' float', 'Sensor - 43': ' float', 'Sensor - 44': ' float', 'Sensor - 45': ' float', 'Sensor - 46': ' float', 'Sensor - 47': ' float', 'Sensor - 48': ' float', 'Sensor - 49': ' float', 'Sensor - 50': ' float', 'Sensor - 51': ' float', 'Sensor - 52': ' float', 'Sensor - 53': ' float', 'Sensor - 54': ' float', 'Sensor - 55': ' float', 'Sensor - 56': ' float', 'Sensor - 57': ' float', 'Sensor - 58': ' float', 'Sensor - 59': ' float', 'Sensor - 60': ' float', 'Sensor - 61': ' float', 'Sensor - 62': ' float', 'Sensor - 63': ' float', 'Sensor - 64': ' float', 'Sensor - 65': ' float', 'Sensor - 66': ' float', 'Sensor - 67': ' float', 'Sensor - 68': ' float', 'Sensor - 69': ' float', 'Sensor - 70': ' float', 'Sensor - 71': ' float', 'Sensor - 72': ' float', 'Sensor - 73': ' float', 'Sensor - 74': ' float', 'Sensor - 75': ' float', 'Sensor - 76': ' float', 'Sensor - 77': ' float', 'Sensor - 78': ' float', 'Sensor - 79': ' float', 'Sensor - 80': ' float', 'Sensor - 81': ' float', 'Sensor - 82': ' float', 'Sensor - 83': ' float', 'Sensor - 84': ' float', 'Sensor - 85': ' float', 'Sensor - 86': ' float', 'Sensor - 87': ' float', 'Sensor - 88': ' float', 'Sensor - 89': ' float', 'Sensor - 90': ' float', 'Sensor - 91': ' float', 'Sensor - 92': ' float', 'Sensor - 93': ' float', 'Sensor - 94': ' float', 'Sensor - 95': ' float', 'Sensor - 96': ' float', 'Sensor - 97': ' float', 'Sensor - 98': ' float', 'Sensor - 99': ' float', 'Sensor - 100': ' float', 'Sensor - 101': ' float', 'Sensor - 102': ' float', 'Sensor - 103': ' float', 'Sensor - 104': ' float', 'Sensor - 105': ' float', 'Sensor - 106': ' float', 'Sensor - 107': ' float', 'Sensor - 108': ' float', 'Sensor - 109': ' float', 'Sensor - 110': ' float', 'Sensor - 111': ' float', 'Sensor - 112': ' float', 'Sensor - 113': ' float', 'Sensor - 114': ' float', 'Sensor - 115': ' float', 'Sensor - 116': ' float', 'Sensor - 117': ' float', 'Sensor - 118': ' float', 'Sensor - 119': ' float', 'Sensor - 120': ' float', 'Sensor - 121': ' float', 'Sensor - 122': ' float', 'Sensor - 123': ' float', 'Sensor - 124': ' float', 'Sensor - 125': ' float', 'Sensor - 126': ' float', 'Sensor - 127': ' float', 'Sensor - 128': ' float', 'Sensor - 129': ' float', 'Sensor - 130': ' float', 'Sensor - 131': ' float', 'Sensor - 132': ' float', 'Sensor - 133': ' float', 'Sensor - 134': ' float', 'Sensor - 135': ' float', 'Sensor - 136': ' float', 'Sensor - 137': ' float', 'Sensor - 138': ' float', 'Sensor - 139': ' float', 'Sensor - 140': ' float', 'Sensor - 141': ' float', 'Sensor - 142': ' float', 'Sensor - 143': ' float', 'Sensor - 144': ' float', 'Sensor - 145': ' float', 'Sensor - 146': ' float', 'Sensor - 147': ' float', 'Sensor - 148': ' float', 'Sensor - 149': ' float', 'Sensor - 150': ' float', 'Sensor - 151': ' float', 'Sensor - 152': ' float', 'Sensor - 153': ' float', 'Sensor - 154': ' float', 'Sensor - 155': ' float', 'Sensor - 156': ' float', 'Sensor - 157': ' float', 'Sensor - 158': ' float', 'Sensor - 159': ' float', 'Sensor - 160': ' float', 'Sensor - 161': ' float', 'Sensor - 162': ' float', 'Sensor - 163': ' float', 'Sensor - 164': ' float', 'Sensor - 165': ' float', 'Sensor - 166': ' float', 'Sensor - 167': ' float', 'Sensor - 168': ' float', 'Sensor - 169': ' float', 'Sensor - 170': ' float', 'Sensor - 171': ' float', 'Sensor - 172': ' float', 'Sensor - 173': ' float', 'Sensor - 174': ' float', 'Sensor - 175': ' float', 'Sensor - 176': ' float', 'Sensor - 177': ' float', 'Sensor - 178': ' float', 'Sensor - 179': ' float', 'Sensor - 180': ' float', 'Sensor - 181': ' float', 'Sensor - 182': ' float', 'Sensor - 183': ' float', 'Sensor - 184': ' float', 'Sensor - 185': ' float', 'Sensor - 186': ' float', 'Sensor - 187': ' float', 'Sensor - 188': ' float', 'Sensor - 189': ' float', 'Sensor - 190': ' float', 'Sensor - 191': ' float', 'Sensor - 192': ' float', 'Sensor - 193': ' float', 'Sensor - 194': ' float', 'Sensor - 195': ' float', 'Sensor - 196': ' float', 'Sensor - 197': ' float', 'Sensor - 198': ' float', 'Sensor - 199': ' float', 'Sensor - 200': ' float', 'Sensor - 201': ' float', 'Sensor - 202': ' float', 'Sensor - 203': ' float', 'Sensor - 204': ' float', 'Sensor - 205': ' float', 'Sensor - 206': ' float', 'Sensor - 207': ' float', 'Sensor - 208': ' float', 'Sensor - 209': ' float', 'Sensor - 210': ' float', 'Sensor - 211': ' float', 'Sensor - 212': ' float', 'Sensor - 213': ' float', 'Sensor - 214': ' float', 'Sensor - 215': ' float', 'Sensor - 216': ' float', 'Sensor - 217': ' float', 'Sensor - 218': ' float', 'Sensor - 219': ' float', 'Sensor - 220': ' float', 'Sensor - 221': ' float', 'Sensor - 222': ' float', 'Sensor - 223': ' float', 'Sensor - 224': ' float', 'Sensor - 225': ' float', 'Sensor - 226': ' float', 'Sensor - 227': ' float', 'Sensor - 228': ' float', 'Sensor - 229': ' float', 'Sensor - 230': ' float', 'Sensor - 231': ' float', 'Sensor - 232': ' float', 'Sensor - 233': ' float', 'Sensor - 234': ' float', 'Sensor - 235': ' float', 'Sensor - 236': ' float', 'Sensor - 237': ' float', 'Sensor - 238': ' float', 'Sensor - 239': ' float', 'Sensor - 240': ' float', 'Sensor - 241': ' float', 'Sensor - 242': ' float', 'Sensor - 243': ' float', 'Sensor - 244': ' float', 'Sensor - 245': ' float', 'Sensor - 246': ' float', 'Sensor - 247': ' float', 'Sensor - 248': ' float', 'Sensor - 249': ' float', 'Sensor - 250': ' float', 'Sensor - 251': ' float', 'Sensor - 252': ' float', 'Sensor - 253': ' float', 'Sensor - 254': ' float', 'Sensor - 255': ' float', 'Sensor - 256': ' float', 'Sensor - 257': ' float', 'Sensor - 258': ' float', 'Sensor - 259': ' float', 'Sensor - 260': ' float', 'Sensor - 261': ' float', 'Sensor - 262': ' float', 'Sensor - 263': ' float', 'Sensor - 264': ' float', 'Sensor - 265': ' float', 'Sensor - 266': ' float', 'Sensor - 267': ' float', 'Sensor - 268': ' float', 'Sensor - 269': ' float', 'Sensor - 270': ' float', 'Sensor - 271': ' float', 'Sensor - 272': ' float', 'Sensor - 273': ' float', 'Sensor - 274': ' float', 'Sensor - 275': ' float', 'Sensor - 276': ' float', 'Sensor - 277': ' float', 'Sensor - 278': ' float', 'Sensor - 279': ' float', 'Sensor - 280': ' float', 'Sensor - 281': ' float', 'Sensor - 282': ' float', 'Sensor - 283': ' float', 'Sensor - 284': ' float', 'Sensor - 285': ' float', 'Sensor - 286': ' float', 'Sensor - 287': ' float', 'Sensor - 288': ' float', 'Sensor - 289': ' float', 'Sensor - 290': ' float', 'Sensor - 291': ' float', 'Sensor - 292': ' float', 'Sensor - 293': ' float', 'Sensor - 294': ' float', 'Sensor - 295': ' float', 'Sensor - 296': ' float', 'Sensor - 297': ' float', 'Sensor - 298': ' float', 'Sensor - 299': ' float', 'Sensor - 300': ' float', 'Sensor - 301': ' float', 'Sensor - 302': ' float', 'Sensor - 303': ' float', 'Sensor - 304': ' float', 'Sensor - 305': ' float', 'Sensor - 306': ' float', 'Sensor - 307': ' float', 'Sensor - 308': ' float', 'Sensor - 309': ' float', 'Sensor - 310': ' float', 'Sensor - 311': ' float', 'Sensor - 312': ' float', 'Sensor - 313': ' float', 'Sensor - 314': ' float', 'Sensor - 315': ' float', 'Sensor - 316': ' float', 'Sensor - 317': ' float', 'Sensor - 318': ' float', 'Sensor - 319': ' float', 'Sensor - 320': ' float', 'Sensor - 321': ' float', 'Sensor - 322': ' float', 'Sensor - 323': ' float', 'Sensor - 324': ' float', 'Sensor - 325': ' float', 'Sensor - 326': ' float', 'Sensor - 327': ' float', 'Sensor - 328': ' float', 'Sensor - 329': ' float', 'Sensor - 330': ' float', 'Sensor - 331': ' float', 'Sensor - 332': ' float', 'Sensor - 333': ' float', 'Sensor - 334': ' float', 'Sensor - 335': ' float', 'Sensor - 336': ' float', 'Sensor - 337': ' float', 'Sensor - 338': ' float', 'Sensor - 339': ' float', 'Sensor - 340': ' float', 'Sensor - 341': ' float', 'Sensor - 342': ' float', 'Sensor - 343': ' float', 'Sensor - 344': ' float', 'Sensor - 345': ' float', 'Sensor - 346': ' float', 'Sensor - 347': ' float', 'Sensor - 348': ' float', 'Sensor - 349': ' float', 'Sensor - 350': ' float', 'Sensor - 351': ' float', 'Sensor - 352': ' float', 'Sensor - 353': ' float', 'Sensor - 354': ' float', 'Sensor - 355': ' float', 'Sensor - 356': ' float', 'Sensor - 357': ' float', 'Sensor - 358': ' float', 'Sensor - 359': ' float', 'Sensor - 360': ' float', 'Sensor - 361': ' float', 'Sensor - 362': ' float', 'Sensor - 363': ' float', 'Sensor - 364': ' float', 'Sensor - 365': ' float', 'Sensor - 366': ' float', 'Sensor - 367': ' float', 'Sensor - 368': ' float', 'Sensor - 369': ' float', 'Sensor - 370': ' float', 'Sensor - 371': ' float', 'Sensor - 372': ' float', 'Sensor - 373': ' float', 'Sensor - 374': ' float', 'Sensor - 375': ' float', 'Sensor - 376': ' float', 'Sensor - 377': ' float', 'Sensor - 378': ' float', 'Sensor - 379': ' float', 'Sensor - 380': ' float', 'Sensor - 381': ' float', 'Sensor - 382': ' float', 'Sensor - 383': ' float', 'Sensor - 384': ' float', 'Sensor - 385': ' float', 'Sensor - 386': ' float', 'Sensor - 387': ' float', 'Sensor - 388': ' float', 'Sensor - 389': ' float', 'Sensor - 390': ' float', 'Sensor - 391': ' float', 'Sensor - 392': ' float', 'Sensor - 393': ' float', 'Sensor - 394': ' float', 'Sensor - 395': ' float', 'Sensor - 396': ' float', 'Sensor - 397': ' float', 'Sensor - 398': ' float', 'Sensor - 399': ' float', 'Sensor - 400': ' float', 'Sensor - 401': ' float', 'Sensor - 402': ' float', 'Sensor - 403': ' float', 'Sensor - 404': ' float', 'Sensor - 405': ' float', 'Sensor - 406': ' float', 'Sensor - 407': ' float', 'Sensor - 408': ' float', 'Sensor - 409': ' float', 'Sensor - 410': ' float', 'Sensor - 411': ' float', 'Sensor - 412': ' float', 'Sensor - 413': ' float', 'Sensor - 414': ' float', 'Sensor - 415': ' float', 'Sensor - 416': ' float', 'Sensor - 417': ' float', 'Sensor - 418': ' float', 'Sensor - 419': ' float', 'Sensor - 420': ' float', 'Sensor - 421': ' float', 'Sensor - 422': ' float', 'Sensor - 423': ' float', 'Sensor - 424': ' float', 'Sensor - 425': ' float', 'Sensor - 426': ' float', 'Sensor - 427': ' float', 'Sensor - 428': ' float', 'Sensor - 429': ' float', 'Sensor - 430': ' float', 'Sensor - 431': ' float', 'Sensor - 432': ' float', 'Sensor - 433': ' float', 'Sensor - 434': ' float', 'Sensor - 435': ' float', 'Sensor - 436': ' float', 'Sensor - 437': ' float', 'Sensor - 438': ' float', 'Sensor - 439': ' float', 'Sensor - 440': ' float', 'Sensor - 441': ' float', 'Sensor - 442': ' float', 'Sensor - 443': ' float', 'Sensor - 444': ' float', 'Sensor - 445': ' float', 'Sensor - 446': ' float', 'Sensor - 447': ' float', 'Sensor - 448': ' float', 'Sensor - 449': ' float', 'Sensor - 450': ' float', 'Sensor - 451': ' float', 'Sensor - 452': ' float', 'Sensor - 453': ' float', 'Sensor - 454': ' float', 'Sensor - 455': ' float', 'Sensor - 456': ' float', 'Sensor - 457': ' float', 'Sensor - 458': ' float', 'Sensor - 459': ' float', 'Sensor - 460': ' float', 'Sensor - 461': ' float', 'Sensor - 462': ' float', 'Sensor - 463': ' float', 'Sensor - 464': ' float', 'Sensor - 465': ' float', 'Sensor - 466': ' float', 'Sensor - 467': ' float', 'Sensor - 468': ' float', 'Sensor - 469': ' float', 'Sensor - 470': ' float', 'Sensor - 471': ' float', 'Sensor - 472': ' float', 'Sensor - 473': ' float', 'Sensor - 474': ' float', 'Sensor - 475': ' float', 'Sensor - 476': ' float', 'Sensor - 477': ' float', 'Sensor - 478': ' float', 'Sensor - 479': ' float', 'Sensor - 480': ' float', 'Sensor - 481': ' float', 'Sensor - 482': ' float', 'Sensor - 483': ' float', 'Sensor - 484': ' float', 'Sensor - 485': ' float', 'Sensor - 486': ' float', 'Sensor - 487': ' float', 'Sensor - 488': ' float', 'Sensor - 489': ' float', 'Sensor - 490': ' float', 'Sensor - 491': ' float', 'Sensor - 492': ' float', 'Sensor - 493': ' float', 'Sensor - 494': ' float', 'Sensor - 495': ' float', 'Sensor - 496': ' float', 'Sensor - 497': ' float', 'Sensor - 498': ' float', 'Sensor - 499': ' float', 'Sensor - 500': ' float', 'Sensor - 501': ' float', 'Sensor - 502': ' float', 'Sensor - 503': ' float', 'Sensor - 504': ' float', 'Sensor - 505': ' float', 'Sensor - 506': ' float', 'Sensor - 507': ' float', 'Sensor - 508': ' float', 'Sensor - 509': ' float', 'Sensor - 510': ' float', 'Sensor - 511': ' float', 'Sensor - 512': ' float', 'Sensor - 513': ' float', 'Sensor - 514': ' float', 'Sensor - 515': ' float', 'Sensor - 516': ' float', 'Sensor - 517': ' float', 'Sensor - 518': ' float', 'Sensor - 519': ' float', 'Sensor - 520': ' float', 'Sensor - 521': ' float', 'Sensor - 522': ' float', 'Sensor - 523': ' float', 'Sensor - 524': ' float', 'Sensor - 525': ' float', 'Sensor - 526': ' float', 'Sensor - 527': ' float', 'Sensor - 528': ' float', 'Sensor - 529': ' float', 'Sensor - 530': ' float', 'Sensor - 531': ' float', 'Sensor - 532': ' float', 'Sensor - 533': ' float', 'Sensor - 534': ' float', 'Sensor - 535': ' float', 'Sensor - 536': ' float', 'Sensor - 537': ' float', 'Sensor - 538': ' float', 'Sensor - 539': ' float', 'Sensor - 540': ' float', 'Sensor - 541': ' float', 'Sensor - 542': ' float', 'Sensor - 543': ' float', 'Sensor - 544': ' float', 'Sensor - 545': ' float', 'Sensor - 546': ' float', 'Sensor - 547': ' float', 'Sensor - 548': ' float', 'Sensor - 549': ' float', 'Sensor - 550': ' float', 'Sensor - 551': ' float', 'Sensor - 552': ' float', 'Sensor - 553': ' float', 'Sensor - 554': ' float', 'Sensor - 555': ' float', 'Sensor - 556': ' float', 'Sensor - 557': ' float', 'Sensor - 558': ' float', 'Sensor - 559': ' float', 'Sensor - 560': ' float', 'Sensor - 561': ' float', 'Sensor - 562': ' float', 'Sensor - 563': ' float', 'Sensor - 564': ' float', 'Sensor - 565': ' float', 'Sensor - 566': ' float', 'Sensor - 567': ' float', 'Sensor - 568': ' float', 'Sensor - 569': ' float', 'Sensor - 570': ' float', 'Sensor - 571': ' float', 'Sensor - 572': ' float', 'Sensor - 573': ' float', 'Sensor - 574': ' float', 'Sensor - 575': ' float', 'Sensor - 576': ' float', 'Sensor - 577': ' float', 'Sensor - 578': ' float', 'Sensor - 579': ' float', 'Sensor - 580': ' float', 'Sensor - 581': ' float', 'Sensor - 582': ' float', 'Sensor - 583': ' float', 'Sensor - 584': ' float', 'Sensor - 585': ' float', 'Sensor - 586': ' float', 'Sensor - 587': ' float', 'Sensor - 588': ' float', 'Sensor - 589': ' float', 'Sensor - 590': ' float', 'Output': 'Integer'}}

In [27]:
LengthOfTimeStampInFile = 3
NumberofColumns = 2
LengthOfDateStampInFile = 22

In [31]:
message ="LengthOfDateStampInFile:: %s" %LengthOfDateStampInFile + "\t" + "LengthOfTimeStampInFile:: %s" % LengthOfTimeStampInFile +"\t " + "NumberofColumns:: %s" % NumberofColumns + "\n"

In [32]:
message

'LengthOfDateStampInFile:: 22\tLengthOfTimeStampInFile:: 3\t NumberofColumns:: 2\n'

In [33]:
print(message)

LengthOfDateStampInFile:: 22	LengthOfTimeStampInFile:: 3	 NumberofColumns:: 2

In [35]:
filename = "wafer_576_3536"

In [34]:
import re

In [36]:
re.split("_",filename)

['wafer', '576', '3536']

In [37]:
filename = "wafer_576_3536.csv"

In [38]:
re.split(".csv",filename)

['wafer_576_3536', '']

In [41]:
filename = "hello.hi.bro"

In [42]:
re.split(".",filename)

['', '', '', '', '', '', '', '', '', '', '', '', '']

In [44]:
import pandas as pd

In [61]:
my_dict = { NaN  : ['John', 'Mike', 'Sarah'],
           'age': [25, 30, 27],
           'city': ['New York', 'Chicago', 'Los Angeles']}

NameError: name 'NaN' is not defined

In [60]:
pd.DataFrame(my_dict)

    None  age         city
0   John   25     New York
1   Mike   30      Chicago
2  Sarah   27  Los Angeles

In [62]:
import pandas as pd

# example dictionary with a column to remove the name of
my_dict = {'name': ['John', 'Mike', 'Sarah'],
           'age': [25, 30, 27],
           'city': ['New York', 'Chicago', 'Los Angeles'],
           'salary': [50000, 60000, 70000],
           'hobby': ['golf', 'reading', 'swimming']}

# remove the column name and store its values in a separate list
hobby_values = my_dict.pop('hobby')

# create the dataframe with the column name set to None
df = pd.DataFrame(my_dict)
df[None] = hobby_values

# print the resulting dataframe
print(df)

    name  age         city  salary      None
0   John   25     New York   50000      golf
1   Mike   30      Chicago   60000   reading
2  Sarah   27  Los Angeles   70000  swimming

In [67]:
df

    name  age         city  salary      None
0   John   25     New York   50000      golf
1   Mike   30      Chicago   60000   reading
2  Sarah   27  Los Angeles   70000  swimming

In [63]:
df.columns

Index(['name', 'age', 'city', 'salary', None], dtype='object')

In [66]:
len(df.columns)

5

In [65]:
df.to_csv('my_dataframe.csv', index=False)

In [68]:
df

    name  age         city  salary      None
0   John   25     New York   50000      golf
1   Mike   30      Chicago   60000   reading
2  Sarah   27  Los Angeles   70000  swimming

In [69]:
for col in df:
    print(col)

name
age
city
salary
None

In [74]:
my_dict = { 'name'  : ['John', 'Mike', 'Sarah'],
           'age': [25, 30, 27],
           'city': ['New York', 'Chicago',None]}

In [76]:
df=pd.DataFrame(my_dict)

In [80]:
df

    name  age      city
0   John   25  New York
1   Mike   30   Chicago
2  Sarah   27      None

In [81]:
df['city'].value_counts()

New York    1
Chicago     1
Name: city, dtype: int64

In [82]:
len(df['city'])

3

In [83]:
df['city'].count()

2

In [84]:
df

    name  age      city
0   John   25  New York
1   Mike   30   Chicago
2  Sarah   27      None

In [87]:
df['name'].str[2:]

0     hn
1     ke
2    rah
Name: name, dtype: object

In [89]:
df= pd.read_csv(r"C:\Users\user\Desktop\real_ml_projects\Wafar_fault_detection\waferFaultDetection\code\WaferFaultDetection_new\Training_Batch_Files\Wafer_12012020_111213.csv")

In [90]:
df

,Unnamed: 0,Sensor-1,Sensor-2,Sensor-3,Sensor-4,Sensor-5,Sensor-6,Sensor-7,Sensor-8,Sensor-9,...,Sensor-581,Sensor-582,Sensor-583,Sensor-584,Sensor-585,Sensor-586,Sensor-587,Sensor-588,Sensor-589,Sensor-590
0,Wafer-200,3006.22,2257.81,2185.9333,1659.6962,1.6290,100,98.6822,0.1227,1.4557,...,NaN,NaN,0.4978,0.0154,0.0038,3.0850,0.0131,0.0129,0.0052,98.1126
1,Wafer-201,3088.73,2378.95,2185.9333,1659.6962,1.6290,100,98.6822,0.1227,1.3731,...,NaN,NaN,0.4990,0.0130,0.0030,2.6037,0.0131,0.0129,0.0052,98.1126
2,Wafer-202,2940.65,NaN,2214.0556,1150.7775,1.3772,100,102.9389,0.1205,1.4978,...,0.0031,83.1192,0.5038,0.0188,0.0040,3.7356,0.0118,0.0098,0.0031,83.1192
3,Wafer-203,2948.42,2444.55,2204.9223,1787.6757,1.5138,100,100.4322,0.1216,1.3906,...,0.0030,272.3477,0.5006,0.0164,0.0042,3.2771,-0.0034,0.0093,0.0030,272.3477
4,Wafer-204,2958.39,2478.99,2231.9556,1185.0959,1.0208,100,102.5344,0.1192,1.4881,...,NaN,NaN,0.5024,0.0151,0.0038,3.0084,-0.0034,0.0093,0.0030,272.3477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Wafer-295,2787.49,2584.15,2224.0000,1510.0797,1.5611,100,99.8300,0.1199,1.4010,...,NaN,NaN,0.5021,0.0092,0.0027,1.8377,0.0107,0.0071,0.0025,66.2997
96,Wafer-296,3039.66,2393.78,2194.2889,1631.5293,1.5119,100,99.6367,0.1222,1.5176,...,NaN,NaN,0.4932,0.0106,0.0027,2.1493,0.0107,0.0071,0.0025,66.2997
97,Wafer-297,2973.53,2499.72,2177.3222,1089.3655,1.3101,100,101.1478,0.1216,1.3955,...,0.0043,74.0589,0.5013,0.0155,0.0036,3.0955,0.0210,0.0156,0.0043,74.0589
98,Wafer-298,2954.36,2559.27,2238.5444,1659.1424,0.9010,100,99.3100,0.1204,1.4086,...,0.0034,46.9253,0.4972,0.0260,0.0056,5.2369,0.0226,0.0106,0.0034,46.9253
99,Wafer-299,2894.04,2490.06,2207.0444,1330.6718,1.3076,100,101.6778,0.1216,1.5546,...,NaN,NaN,0.4963,0.0208,0.0050,4.1959,0.0226,0.0106,0.0034,46.9253

In [92]:
df['Unnamed: 0']

0     Wafer-200
1     Wafer-201
2     Wafer-202
3     Wafer-203
4     Wafer-204
        ...
95    Wafer-295
96    Wafer-296
97    Wafer-297
98    Wafer-298
99    Wafer-299
Name: Unnamed: 0, Length: 100, dtype: object

In [93]:
df['Unnamed: 0'].str[6:]

0     200
1     201
2     202
3     203
4     204
     ...
95    295
96    296
97    297
98    298
99    299
Name: Unnamed: 0, Length: 100, dtype: object