In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FC31-0B0A

 Directory of C:\Users\user\Desktop\real_ml_projects\Wafar_fault_detection\waferFaultDetection\code\WaferFaultDetection_new\notebook

03/11/2023  09:55 PM    <DIR>          .
03/11/2023  09:55 PM    <DIR>          ..
03/11/2023  09:55 PM    <DIR>          .ipynb_checkpoints
03/11/2023  05:48 PM            77,148 CORS,dashboard,cross_origin,datetime,data_validation.ipynb
03/11/2023  09:54 PM                72 database_sqlite.ipynb
03/11/2023  06:15 AM               120 my_dataframe.csv
               3 File(s)         77,340 bytes
               3 Dir(s)  36,691,333,120 bytes free

In [2]:
import sqlite3

In [57]:
db=sqlite3.connect('mydb.db')

In [4]:
cursor=db.cursor()

In [5]:
cursor.execute('create table student(name text,batchid int,marks real)')

In [6]:
cursor.execute('insert into student values("midhun",6227,524)')
cursor.execute('insert into student values("maria",5249,729.5)')
cursor.execute('insert into student values("ram",4524,841)')

In [22]:
cursor.execute('select * from student')

In [23]:
cursor.fetchone()

('midhun', 6227, 524.0)

In [16]:
cursor.fetchall()

[('maria', 5249, 729.5), ('ram', 4524, 841.0)]

In [41]:
cursor.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table' AND name = 'student' ")

In [42]:
cursor.fetchone()

(1,)

In [43]:
cursor.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table' AND name = 'student' ")

In [44]:
cursor.fetchone()[0]

1

In [35]:
cursor.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table' AND name = 'student' ")

In [36]:
cursor.fetchall()

[(1,)]

In [58]:
db.commit()

In [59]:
db.close()

In [45]:
db=sqlite3.connect('mydb2.db')

In [46]:
cursor=db.cursor()

In [47]:
cursor.execute('create table student(name text,batchid int,marks real)')

In [48]:
cursor.execute('insert into student values("midhun",6227,524)')
cursor.execute('insert into student values("maria",5249,729.5)')

In [49]:
cursor.execute('select * from student')

In [50]:
cursor.fetchall()

[('midhun', 6227, 524.0), ('maria', 5249, 729.5)]

In [53]:
cursor.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table' AND name = 'student' ")

In [54]:
cursor.fetchall()

[(1,)]

In [55]:
db.commit()

In [56]:
db.close()

In [ ]:
import sqlite3

try:
    conn = sqlite3.connect(self.path+DatabaseName+'.db')
    
    # Perform database operations (e.g., insert, update, delete)

    conn.commit() # commit the changes
except:
    conn.rollback() # rollback the changes if an error occurred
finally:
    conn.close() # close the connection

In [70]:
conn=sqlite3.connect('mydb3.db')

In [71]:
cursor=conn.cursor()

In [72]:
cursor.execute('create table student1(name text,batchid int,marks real)')

In [73]:
cursor.execute('insert into student1 values("midhun",6227,524)')
cursor.execute('insert into student1 values("maria",5249,729.5)')
cursor.execute('insert into student1 values("ram",4524,841)')

In [98]:
cursor.execute("select * from student1")

In [82]:
cursor.fetchall()

[('midhun', 6227, 524.0), ('maria', 5249, 729.5), ('ram', 4524, 841.0)]

In [99]:
cursor.execute("select * from student1")

In [100]:
results = cursor.fetchall()

In [101]:
results

[('midhun', 6227, 524.0), ('maria', 5249, 729.5), ('ram', 4524, 841.0)]

In [102]:
cursor.description

(('name', None, None, None, None, None, None),
 ('batchid', None, None, None, None, None, None),
 ('marks', None, None, None, None, None, None))

In [78]:
headers = [i[0] for i in cursor.description]

In [79]:
headers

['name', 'batchid', 'marks']

In [87]:
import csv

In [113]:
path = r"C:\Users\user\Desktop\real_ml_projects\Wafar_fault_detection\waferFaultDetection\code\WaferFaultDetection_new\notebook\inputFile2.csv"

In [114]:
csvFile = csv.writer(open(path, 'w', newline=''),delimiter=',', lineterminator='\r\n',quoting=csv.QUOTE_ALL, escapechar='\\')

In [115]:
csvFile

In [116]:
results

[('midhun', 6227, 524.0), ('maria', 5249, 729.5), ('ram', 4524, 841.0)]

In [117]:
headers

['name', 'batchid', 'marks']

In [118]:
csvFile.writerow(headers)
csvFile.writerows(results)

In [ ]:
# i think this way of writing csv file has some problem.Nothing in file inputFile.csv

### differences between \r, \n, and \r\n

Hello\rworld

output:
world

The \r character tells the application to move the cursor back to the beginning of the line and overwrite the first five characters with "world".

Hello\nworld

output:
Hello
world

The \n character tells the application to move the cursor to the beginning of the next line.

Hello\r\nworld

output:
Hello
world

The \r\n sequence tells the application to move the cursor to the beginning of the next line and to advance to the next line.

newline=''
if we use this newline we see like this in textfile
Name,Age,Gender\r\n
Alice,25,Female\r\n
Bob,30,Male\r\n
Charlie,35,Male\r\n

newline='\n'
if we use this newline we see like this in textfile
Name,Age,Gender\n
Alice,25,Female\n
Bob,30,Male\n
Charlie,35,Male\n

On Unix-based systems (including macOS and Linux), the default line ending is just a line feed (\n), while on Windows, the default line ending is '\r\n'. This means that if you write a file on Windows with newline='' (i.e., the default), the resulting file will have '\r\n' line endings. If you write the same file on a Unix-based system with newline='', the resulting file will have \n line endings.

import csv

# Data to be written to the CSV file
data = [
    ['Name', 'Age', 'Gender'],
    ['John', 25, 'Male'],
    ['Jane', 30, 'Female'],
    ['Bob', 40, 'Male']
]

# Open the CSV file in write mode
with open('example.csv', 'w', newline='') as file:
    # Create a CSV writer object
    writer = csv.writer(file)
    
    # Write the data to the CSV file
    writer.writerows(data)

In [ ]:
# it is working

In [119]:
headers

['name', 'batchid', 'marks']

In [120]:
results

[('midhun', 6227, 524.0), ('maria', 5249, 729.5), ('ram', 4524, 841.0)]

In [121]:
path = r"C:\Users\user\Desktop\real_ml_projects\Wafar_fault_detection\waferFaultDetection\code\WaferFaultDetection_new\notebook\inputFile3.csv"

In [122]:
with open(path, 'w', newline='') as f:
    csvFile = csv.writer(f,delimiter=',', lineterminator='\r\n',quoting=csv.QUOTE_ALL, escapechar='\\')
    csvFile.writerow(headers)
    csvFile.writerows(results)